.wrap {
  margin-top: 10px;
  display: flex;
  margin-bottom: 32px;
}
.images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  margin-right: 24px;
  object-fit: cover;
}
.images img {
  max-width: 308px;
  width: 100%;
  max-height: 492px;
  height: 100%;
}

.images div:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.images div:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.images div:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.images div:nth-child(4) {
  grid-column-start: 5;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.info {
  width: 100%;
  max-width: 520px;
}
.innerInfo {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
}
.slider {
  margin-bottom: 74px;
}
.sliderImages {
  display: none;
}
.productTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin: 0;
  padding: 0;
}
.subTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #1d1d1b;
  padding: 0;
  margin: 0;
}
.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #393939;
  margin-left: 6px;
}
.content {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #6a6a6a;
}
.sum {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
}
.sumOld {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: #979797;
  margin-left: 6px;
}
.colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}
.article {
  display: flex;
  align-items: center;
}
.colorWrapper {
  display: flex;
  align-items: center;
}
.sumWrapper {
  display: flex;
  align-items: flex-end;
}
.about-product {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.product-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #6a6a6a;
  margin-bottom: 16px;
}
.extra {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 16px;
  margin-bottom: 21px;
  grid-gap: 14px;
}
.buttons {
  display: flex;
}
.addCart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 44px;
  height: 100%;
  background-color: #1d1d1b;
  padding: 12px 30px 12px 18px;
  gap: 10px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
.addCart svg {
  margin-right: 12px;
}
.addFavorite {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #1d1d1b;
  margin-left: 8px;
  max-height: 44px;
  height: 100%;
  max-width: 44px;
  width: 100%;
}
