.wrap {
  margin-top: 10px;
  display: flex;
  margin-bottom: 32px;
  gap: 24px;
}
.images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  margin-right: 24px;
  object-fit: cover;
}

.images img {
  width: 100%;
  max-height: 492px;
  height: 100%;
  transition: width 0.5s ease;
}
.images div:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.images div:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.images div:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.images div:nth-child(4) {
  grid-column-start: 5;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.info {
  width: 100%;
  max-width: 520px;
}
.innerInfo {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  position: sticky;
  top: 11px;
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
}
.slider {
  margin-bottom: 74px;
}
.sliderImages {
  display: none;
}
.productTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin: 0;
  padding: 0;
}
.subTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #1d1d1b;
  padding: 0;
  margin: 0;
}
.text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #393939;
  margin-left: 6px;
}
.content {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #6a6a6a;
}
.sum {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
}
.sumOld {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: #979797;
  margin-left: 6px;
}
.colors {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}
.article {
  display: flex;
  align-items: center;
}
.colorWrapper {
  display: flex;
  align-items: center;
}
.sumWrapper {
  display: flex;
  align-items: flex-end;
}
.about-product {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.product-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #6a6a6a;
  margin-bottom: 16px;
}
.extra {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 16px;
  margin-bottom: 21px;
  grid-gap: 14px;
}
.buttons {
  display: flex;
}
.addCart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 44px;
  height: 100%;
  background-color: #1d1d1b;
  padding: 12px 30px 12px 18px;
  gap: 10px;
  border: none;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
.addCart svg {
  margin-right: 12px;
}
.goCart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 44px;
  height: 100%;
  background-color: #1d1d1b;
  padding: 12px 30px 12px 18px;
  gap: 10px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
}
.addFavorite {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1b;
  margin-left: 8px;
  border: none;
}
.addFavorite img {
  width: 100%;
  height: 100%;
}
.fancybox__thumbs {
  display: none;
}
.fancybox__button--thumbs {
  display: none !important;
}
.selected-btn {
  width: 18px;
  height: 18px;
  border: 1px solid #d6d6d6;
  padding: 4px;
}
.unselected-btn {
  border: none;
}
.one-product-carousel {
  display: none;
}
.extra {
  font-family: "Montserrat";
}
@media (max-width: 320px) {
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .extra {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .one-product-slider {
    display: none;
  }
  .one-product-carousel {
    display: block;
  }
  .product-description {
    font-size: 13px;
    line-height: 170%;
  }
  .productTitle {
    font-size: 18px;
    line-height: 22px;
  }
  .sum {
    font-size: 18px;
    line-height: 22px;
    color: #979797;
  }
  .subTitle {
    font-size: 14px;
    line-height: 17px;
    color: #393939;
  }
  .addCart {
    font-size: 14px;
    line-height: 17px;
    width: 212px;
    height: 44px;
    padding: 0;
  }
  .goCart {
    font-size: 14px;
    line-height: 17px;
    width: 212px;
    height: 44px;
    padding: 0;
  }
  .sumOld {
    font-size: 14px;
    line-height: 17px;
  }
  .innerInfo{
    margin-top: -12px;
  }
}
