.breadcrumb-wrapper {
  background-color: #fff;
  height: 60px;
  padding: 22px 0px 21px 0px;
}
.ant-breadcrumb {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 17px !important;
}
.ant-breadcrumb li:last-child a {
  color: #979797 !important;
}
.ant-breadcrumb a {
  color: #393939 !important;
}
@media (max-width: 320px) {
  .ant-breadcrumb {
    font-size: 12px !important;
    line-height: 15px !important;
    width: max-content;
  }
  .ant-breadcrumb-separator {
    margin: 0 5px !important;
  }
  .breadcrumb-wrapper {
    height: 58px;
    overflow-x: auto;
  }
  .breadcrumb-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
