.floating-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 8px;

  position: fixed;
  max-width: 45px;
  max-height: 96px;
  left: 92.5%;
  top: 85%;
  z-index: 20;
}
#float-buttons {
  position: fixed;
}
#float-buttons img {
  width: 28px;
  height: 28px;
  gap: 10px;
}
.icons-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-left: -5%;
}
#up {
  display: flex;
  justify-content: flex-end;
}
#move-up {
  color: white;
}
.open-btn {
  display: flex;
  flex-direction: column;
}

/* modal */
.first-modal {
  max-width: 436px !important;
  width: 100% !important;
}
.fb-modal {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}
.modal-inp {
  gap: 10px;

  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.first-inp {
  width: 100%;
  height: 44px;

  background: #ffffff;
  border: 1px solid rgba(31, 31, 31, 0.08);
  border-radius: 3px;
  outline: none;
  background-image: url("../../assets/icon/user.png");
  background-position: 3%;
  background-repeat: no-repeat;
  background-size: auto;
}
.second-inp {
  width: 100%;
  height: 44px;

  background: #ffffff;
  border: 1px solid rgba(31, 31, 31, 0.08);
  border-radius: 3px;
  outline: none;
  background-image: url("../../assets/icon/phone2.png");
  background-position: 3%;
  background-repeat: no-repeat;
  background-size: auto;
}
.type[type="text"] {
  padding-left: 12%;
}
.placeholder::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #bebebe;
}
.error {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  color: red;
  margin: 0;
  padding: 0;
}
.modal-text {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 90% !important;
}
.modal-text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #393939;
}
.modal-text h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  color: #393939;
}
.btn-modal {
  width: 100%;
  height: 44px;

  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.btn-1 {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.533),
      rgba(255, 255, 255, 0.533)
    ),
    #1d1d1b;
}
.btn-2 {
  background: #1d1d1b;
}
.btn-2:active {
  transform: translateY(2px);
}
.btn-3 {
  background: #1d1d1b;
  width: 280px;
  height: 44px;
}
.btn-3:active {
  transform: translateY(2px);
}
.second-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 10px 10px;
  max-width: 328px;
  width: 100%;
}
.fb-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #393939;
  margin: 0;
}
.fb-sub-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #393939;
  margin: 0;
}
.titles-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#second-modal-wrapper {
  width: 328px !important;
  height: 264px !important;
}
@media (max-width: 320px) {
  #float-buttons {
    display: none;
  }
  .modal-text {
    width: 100% !important;
  }
  .modal-text h3 {
    font-size: 14px;
  }
  .modal-text p {
    font-size: 12px;
  }
  .placeholder::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #393939;
  }
  .type[type="text"] {
    padding-left: 14%;
  }
}
