.help-wrapper {
  display: flex;
  gap: 24px;
  margin-top: 12px;
  margin-bottom: 72px;
}
.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}
.items {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 644px;
  height: auto;
  background: white;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  cursor: pointer;
}
.title h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #393939;
}
.content.show {
  margin-top: 12px;
  height: auto;
  animation: showDesc 0.5s ease-in;
}
.content {
  overflow: hidden;
  height: 0;
}
.content p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  display: flex;
  align-items: flex-end;
  color: #354455;
}
.no-rotate {
  transform: rotate(180deg);
}
.rotate {
  transform: rotate(0deg);
}
@media (max-width: 320px) {
  .help-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 15px;
  }
  .help-img {
    width: 100%;
  }
  .items {
    width: 100%;
  }
  .title h3 {
    font-size: 13px;
    line-height: 16px;
    margin: 0;
  }
  .content p {
    font-size: 12px;
  }
}
@keyframes showDesc {
  0% {
    height: 0px;
  }
  50% {
    height: 100px;
  }
  90% {
    height: 200px;
  }
  100% {
    height: auto;
  }
}
