.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 286px;
  height: 536px;
  border: 1px solid #f1f1f1;
  position: relative;
}
.card:hover #img-fav {
  display: block;
  opacity: 1;
}
#img-rel {
  width: 286px;
  height: 437px;
}
#img-fav-active {
  position: absolute;
  left: 250px;
  top: 12px;
}
#img-fav {
  position: absolute;
  left: 250px;
  top: 12px;
  display: none;
  opacity: 0.5;
}
#img-discount {
  position: absolute;
  top: 0;
  left: 0;
}

#discount-title {
  position: absolute;
  left: 3.02px;
  top: 8.31px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  transform: matrix(0.71, -0.7, 0.71, 0.71, 0, 0);
  line-height: 15px;
}
.card span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  color: #393939;
}
#price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  color: #393939;
}
#discount {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: line-through;
  text-align: justify;
  color: #adadad;
}
.card-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 8px;
  gap: 6px;
  width: 286px;
  height: 99px;
  background: #ffffff;
}
#price-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}
.size {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}
#size {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: justify;
  color: #7c7c7c;
}
.color-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 14px;
}
.size-circle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  cursor: pointer;
}
.size-circle:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
.size-circle:active {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#color-1 {
  background-color: #73a39d;
}
#color-2 {
  background-color: #84cc4c;
}
#color-3 {
  background-color: #b5a8a1;
}
#color-4 {
  background-color: #ab844a;
}
#color-5 {
  background-color: #6977f0;
}
#color-6 {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
}
#color-7 {
  background-color: #141414;
}
#color-8 {
  background-color: #ff0000;
}
.activeColor {
  width: 16px;
  height: 16px;

  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 20px;
  padding: 3px;
}
