.App {
  background-color: #f8f8f8;
}
body::-webkit-scrollbar {
  width: 10px !important;
}
body::-webkit-scrollbar-track {
  background: #eeeeee !important;
}
body::-webkit-scrollbar-thumb {
  background-color: #979797 !important;
  border-radius: 20px !important;
}
.container {
  max-width: 1168px;
  box-sizing: border-box;
  margin: 0 auto;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
  margin-top: 16px;
}
.ant-pagination-item-active {
  background: #1d1d1b !important;
  border-color: #1d1d1b !important;
}
.ant-pagination-item-active:hover {
  border-color: #1d1d1b !important;
  background-color: #1d1d1b !important;
}
.ant-pagination-item-active:focus-visible {
  border-color: #1d1d1b !important;
}
.ant-pagination-item-active a {
  color: white !important;
}
.ant-pagination-item-active:hover a {
  color: #ffffff !important;
}
.ant-pagination-item:hover {
  color: #1d1d1b !important;
  border-color: #1d1d1b62 !important;
}
.ant-pagination-item-link:hover {
  color: #1d1d1b62 !important;
  border-color: #1d1d1b62 !important;
}
#title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin-top: 11px;
}
#centered {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  margin-top: 11px;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}
.also-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.also-wrapper button {
  padding: 8px 38px;
  width: 107px;
  height: 32px;
  background: #1d1d1b;
  margin-top: 16px;

  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
.also-wrapper button:active {
  background-color: #1d1d1bad;
  transform: translateY(4px);
  border: #1d1d1bad;
}
.flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  gap: 8px;
}
.card-carousel-wrapper {
  display: none;
}
.ant-modal-mask {
  background-color: #ececec;
}
@media (max-width: 320px) {
  .container {
    max-width: 300px;
  }
  .also-wrapper {
    display: none;
  }
  #title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 15px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .flex {
    display: none;
  }
  .card-carousel-wrapper {
    display: block;
  }
  #centered {
    text-align: center;
  }
}
